<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="!loading">
  <form #f="ngForm" (submit)="onSubmitForm(f)">
    <mat-form-field>
      <input
        type="text"
        name="title"
        [ngModel]="editedPost?.title"
        #title="ngModel"
        matInput
        placeholder="Post Title"
        required
        minlength="5"
      />
      <mat-error *ngIf="title.invalid"
        >Please enter title with min-length 5 char</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="editedPost?.content"
        #content="ngModel"
        required
        placeholder="Post Description"
      ></textarea>
      <mat-error *ngIf="title.invalid">Please enter post description</mat-error>
    </mat-form-field>

    <button
      type="submit"
      color="primary"
      mat-raised-button
      [matTooltip]="f.invalid ? 'Please Fill all required fields' : ''"
      matTooltipPosition="left"
      [disabled]="f.invalid"
    >
      <span *ngIf="editMode">Update</span>
      <span *ngIf="!editMode">Save</span>
    </button>
  </form>
</mat-card>
